$white: #fff;
$gray: #ddd;
$green: #17882c;
$red: #E60000;
$gradientColor: #44a8a2;
$dropdownMessageItemColor: #007bff;
$botaoAzul: #007bff;
$botaoVermelho: #FF3E3E;
$toggleInternoVerde: rgba(23, 136, 44, 60%);
$toggleVerde: #17882c;
$toggleInternoVermelho: rgba(255, 62, 62, 60%);
$toggleVermelho: #FF3E3E;

$cardPetroleo: #3AB09E;
$cardVerde: #1fc86a;
$cardAzul: #2670E8;
$cardAzulEscuro: #1351B4;
$cardAmarelo: #FFCD07;
$cardLaranja: #FEA207;

$itemCardLaranja: $cardLaranja;
$itemCardVermelho: #FF3E3E;

$menuWidthDefault: 250px;
$menuSlim: 60px;

$black: #0f0e0eda;
