<footer class="footer-mec">
    <div class="p-grid p-align-end">
        <div class="p-col-12 p-sm-4">
            <div class="redes-sociais">
                <a href="https://github.com/isaquecosta/"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/isaque-teotonio/"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
        <div class="p-col-12 p-sm-8">
            <div class="footer-responsive p-text-right">
                    <img src="assets/layout/images/LOGO.png" alt="marca do governo">
            </div>
        </div>
    </div> <!-- row -->

    <div class="p-col line-footer">
        <hr>
    </div>

    <div class="infor-footer-mec p-grid p-justify-between p-mt-1">
        <div class="p-col-12 p-md-9">
            <span class="versao">SPE  | </span>
            <span class="copyright">© Sistema de Profissionais e Estabelecimentos</span>
        </div>
    </div> <!-- row -->

</footer>
