    <div class="topbar clearfix">
    <div class="topbar-left">
        <a id="topbar-menu-button" class="nav-form" href="#" (click)="app.onMenuButtonClick($event)">
            <svg id="menu-form" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 33.999 30">
                <rect id="ret1" width="33.999" height="4.286" fill="#565656"></rect>
                <rect id="ret2" width="33.999" height="4.286" transform="translate(0 12.857)" fill="#565656"></rect>
                <rect id="ret3" width="21.249" height="4.286" transform="translate(0 25.714)" fill="#565656"></rect>
            </svg>
        </a>
        <div class="logo"></div>
    </div>
</div>
