<div class="mec-menu-wrapper">
    <div class="close-menu-btn">
      <a id="close-mobile-btn" (click)="app.onMenuButtonClick($event)">
        <i class="fas fa-times"></i>
      </a>
    </div>
   <ul>
      <li role="menuitem" class="mec-menu-item"><a title="SPE" [routerLink]="['/']" ><i class="fas fa-th-large"></i><span>SPE</span></a></li>
      <li role="menuitem" class="mec-menu-item"><a title="Profissional" [routerLink]="['/profissional/listar']" ><i class="fas fa-user"></i><span>Profissional</span></a></li>
      <li role="menuitem" class="mec-menu-item"><a title="Estabelecimento" [routerLink]="['/estabelecimento/listar']" ><i class="fas fa-university"></i><span>Estabelecimento </span></a></li>
    </ul>
 </div>
